body{
    font-family: 'Noto Sans KR', 'Noto Serif KR';
}
a{
    color: black;
    text-decoration: none;
}
li{ list-style: none; }

.fontSnd{
    font-family: 'Noto Serif KR', serif;
}
.d-flex{
    display: flex;
}
.d-none{
    display: none;
}

/* X축 */
.justify-centent-center{ /* 스타일 가이드 라인 - 부트스트랩 */
    justify-content: center;
}
.jcb{
    justify-content: space-between;
}   /* 시작과 끝을 양끝에 붙이겠다. */
.jce{
    justify-content: end;
}   /* 오른쪽에 붙이겠다. */

/* Y축 */
.aic{
    align-items: center;
} 

.red{ background-color: red; } /* background-color를 넣어서 오류를 찾는 방법이 있다. */
