body{
    font-family: 'IBM Plex Sans KR';
}
.d-flex{
    display: flex;
}
.jcb{
    justify-content: space-between;
}
.aic{
    align-items: center;
}
h2{
    text-align: center;
}
a{
    color: black;
    text-decoration: none;
}
#hd .gnb li{margin: 0 2rem;}
#hd .util {font-size: 0.8rem;}
#hd .util li{margin-left: 0.5rem;}
#hd{
    height: 100px;
    background-color: #D9D9D9;


}
#hd h1 img{
    size: 1rem;
}